# IDEs and editors
.idea
.vscode
.project
*.code-workspace
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/node_modules
**/node_modules
/docker-build.env
/config.docker.yaml
packages/auto-nlp-core/docker.env
packages/auto-nlp-core/yalc.lock
packages/auto-nlp-core/config/config.docker.yaml
packages/auto-nlp-deployment/docker.env
packages/auto-nlp-deployment/config/config.docker.yaml
**/yalc.lock
