# IDEs and editors
.idea
.vscode
.project
*.code-workspace
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Yarn
.yarn/*
**/.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
/node_modules
**/node_modules
**/yalc.lock

# Files containing secret and/or internal data
/docker-build.env
/config.docker.yaml
**/docker.env
**/config.docker.yaml
**/config.docker.json

# Test results
**/junit.xml
packages/coverage