COMPOSE_PROJECT_NAME=auto-nlp

# TagFlip AutoNLP
AUTONLP_ENV=docker
AUTONLP_CORE_PORT=3000
AUTONLP_TRAEFIK_ENTRYPOINT_PORT=8085
AUTONLP_MINIO_PORT=3006
AUTONLP_CORE_PUBLIC_URL=http://public-url-to-auto-nlp-core:3000
AUTONLP_DEPLOYMENT_PROXY_ENTRYPOINT_URL=http://public-url-to-traefik-proxy:8085

GITHUB_TOKEN=

#MongoDB
MONGODB_URI=
MONGODB_USER=
MONGODB_PASSWORD=

#REDIS
REDIS_HOST=
REDIS_USER=
REDIS_PASSWORD=

# MLflow
MLFLOW_TRACKING_PORT=3005
MLFLOW_TRACKING_URI=http://public-url-to-mlflow-tracking-server:3005
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
MLFLOW_S3_ENDPOINT_URL=http://public-url-to-s3-endpoint:3006
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin

BACKEND_STORE_URI=sqlite:///data/sqlite.db
BUCKET_URI_OR_LOCAL_PATH=s3://mlflow-dev
